.back {
  background-color: white;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 600;
  color: Red;
}
.Fname {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
}
.Lname {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
}
.inputE {
  width: 250px;
  height: 35px;
  border: 1px solid green;
  font-family: 'Roboto';
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  padding: 5px;
}
.button {
  font-family: 'Roboto';
  font-size: 15px;
  color: white;
  background-color: blue;
  padding: 10px;
  border-width: 0px;
  border-radius: 5px;
  align-self: flex-end;
}

.view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 4px 16px rgba(126, 133, 142, 0.16);
  padding: 48px 64px 48px 64px;
  border-radius: 10px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
.success-image {
  width: 30%;
  align-self: center;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}
